/*
#67BFBB
#45807D
#89FFFA
#22403E
#7CE6E0
*/
body {
    font-family: 'Montserrat', sans-serif !important;
}

.header {
    background-color: #45807D;
    color: #ffffff;
    height: 250px;
    width: 100%;
}

.header-title {
    margin-top: 50px;
}

.header-subtitle {
    font-size: 20px;
}

nav {
    height: 75px;
    background-color: #333333;
    color: #ffffff;
}

#nav-list {
    list-style: none;
    padding: 0;
}

#nav-list > div > a {
    text-decoration: none;
    color: #ffffff;
}

#nav-list > div > a:hover {
    text-decoration: none;
    color: #dddddd;
}


.section-heading {
    color: #222222;
    font-size: 24px;
}

#main-content {
    padding-top: 100px;
}

.section-image {
    border: 2px solid #45807D;
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1350px !important;
    }
}

.carousel-caption {
    color: #222222 !important;
    bottom: 10px !important;
}

.carousel-caption > h5 {
    font-size: 1rem;
}

.carousel-indicators li {
    background-color: #5f5f5f !important;
}

/*https://stackoverflow.com/a/49017805/11830548*/
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%235f5f5f' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%235f5f5f' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
/*--*/
